*{
  background-color: #C1C7C4;
  font-family: 'Noto Sans', sans-serif;
  user-select: none;
}

h1{
  background-color: #6A33A1;
  width: auto;
  margin-top: 0;
  margin-right: 0;
  color: white;
  padding-left: 20px;
}

body{
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
}

.input{
  white-space: nowrap;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #9ca09ec4;
  outline: none;
  width: 100%;
}

label{
  width: 80%;
  margin-top: 10px;
}

.input:valid{
  border-bottom: 2px solid #6A33A1;
}

.input:invalid{
  border-bottom: 2px solid #9ca09ec4;
}

.submit{
  border: none;
  border-radius: 10px;
  border-bottom: solid 2px black;
  background-color: #212243;
  color: white;
  width: 15%;
  margin-top: 10px;
  margin-left: 8px;
}

.submit:hover{
  background-color: #3d407c;
}

textarea{
  border: 2px solid black;
  outline: none;
  width: 97%;
  margin: 5px;
}

select{
  outline: none;
}

.reform{
  display: grid;
  grid-template-columns: repeat(2, 0.9fr);
}   