*{
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-image: url("./LLUVIA.jpg");
    background-size: auto;
    height: 100%;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
}

.formulario{
    width: 50vw;
    height: 85%;
    border-radius: 20px;
    padding-right: 10px;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 0.9fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #C1C7C4;
    box-shadow: 4px 4px 4px 4px rgba(44, 44, 44, 0.719);
}

.select{
    border: none;
    color: white;
    background-color: #6A33A1;
    width: 100%;
    border-radius: 5px;
}

.Registro{
    margin-right: 15px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( to bottom,#7346C5, #2F2163 );
}

h3{
    color: white; 
}

.form{
    width: 50%;
    height: 100%;
    display: grid;
    grid-row:span;
    justify-self: center;

}

label{
    margin-top: 5px;
}

input{
    white-space: nowrap;      
    overflow: hidden; 
    margin-top: 8px;
    background-color: #C1C7C4;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #9ca09ec4;
    outline: none;
}

.enviar{
    margin-bottom: 5px;
    color: white;
    font-weight: 800;
    background-color: #212243;
}

.enviar:hover{
    background-color: #15152c;
}