<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de datos basicos</title>
  <link rel="stylesheet" href="datos_basicos.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Datos básicos</h1>
  <form class="formulario" name="Formulario-datosbasicos-lgd" action="" method="get">
    <div class="reform">
    <label for="nombre-lock">Nombre: 
      <input id="nombre-lock" value="Nombre" type="text" placeholder="Nombre" class="input" required disabled>
    </label>
    <label for="apellidos-lock">Apellidos: 
      <input id="apellidos-lock" value="Apellidos" type="text" placeholder="Apellidos" class="input" required disabled>
    </label>

    <label for="fecha-nacimiento">Fecha de nacimiento: 
      <input type="date" name="fechaNacimiento" class="input" required id="fecha-nacimiento">
    </label>

    <label for="genero">Genero: 
      <input type="text" name="genero" id="genero" class="input" disabled>
    </label>

    <label >Documento de Identidad:
      <select name="Tipo_documento" id="" required>
        <option value="Seleccione">Seleccione</option>
        <option value="C.C">C.C</option>
        <option value="Carnet diplomatico">Carnet diplomatico</option>   
        <option value="Certificado nacido vivo">Certificado nacido vivo</option>
        <option value="Cedula de extranjeria">Cedula de extranjeria</option>
        <option value="Nit">Nit</option>
        <option value="Pasaporte">Pasaporte</option>
        <option value="Permiso especial de permanencia">Permiso especial de permanencia</option>
        <option value="Permiso de proteccion personal">Permiso de proteccion personal</option>
        <option value="Registro civil">Registro civil</option>
        <option value="Salvoconducto">Salvoconducto</option>
        <option value="Tarjeta de identidad">Tarjeta de identidad</option>
      </select>
      <input type="number" placeholder="Numero de documento de identidad" class="input" required maxlength="10" value="Documento">
    </label>

    <label>Telefono:
      <input name="Telefono" type="number" class="input" placeholder="Telefono" required maxlength="10">
    </label>

    <label>Telefono Celular: 
      <input name="celular" type="number" class="input" placeholder="Celular" required maxlength="10">
    </label>

    <label>Dirección: 
      <input type="text" placeholder="Dirección" class="input" required name="Dirección">
    </label>

    <label>Departamento:
      <input type="text" placeholder="Departamento" class="input" required name="Departamento">
    </label>

    <label>Ciudad:
      <input type="text" placeholder="Ciudad" class="input" required name="Ciudad">
    </label>

    <label>Estado Civil:
      <select name="EstadoCivil" id="estado-civil"  required required>
        <option value="Seleccione" disabled>Seleccione</option>
        <option value="Soltero">Soltero</option>
        <option value="Casado">Casado</option>
        <option value="Divorciado">Divorciado</option>
        <option value="Viudo">Viudo</option>
      </select>
    </label>

    <label >Estrato Socioeconómico:
      <select name="estrato" id="estrato" required required>
        <option value="Seleccione" disabled>Seleccione</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    </label>

    <label >Ocupación:
      <select name="ocupacion" id="ocupacion" required required>
        <option value="Seleccione" disabled>Seleccione</option>
        <option value="Estudiante">Estudiante</option>
        <option value="Empleado">Empleado</option>
        <option value="Independiente">Independiente</option>
        <option value="Pensionado">Pensionado</option>
        <option value="Amo de casa">Amo de casa</option>
        <option value="Desempleado">Desempleado</option>
      </select>
    </label>

    <label name="regimen-perteneciente">Régimen Perteneciente:
      <select name="regimenPerteneciente" required id="">
        <option value="Subsidiado">Subsidiado</option>
        <option value="Contributivo">Contributivo</option>
        <option value="Independiente">Independiente</option>
      </select>
    </label>

    <label>Historial Clínico:
      <select name="tiempo-historial" required>
        <option value="Seleccione" disabled>Seleccione</option>
        <option value="Menos de un mes">Menos de un mes</option>
        <option value="1-2 Meses">1-2 Meses</option>
        <option value="Menos de 6 meses">Menos de 6 meses</option>
        <option value="6-12 Meses">6-12 Meses</option>
        <option value="1-2 Años">1-2 Años</option>
        <option value="Mas de 2 Años">Más de 2 Años</option>
      </select>
      <select name="evento-historial-clinico" required>
        <option value="Seleccione" disabled>Seleccione</option>
        <option value="Consulta con especialista">Consulta con especialista</option>
        <option value="Urgencia">Urgencia</option>
      </select>
    </div>
      <textarea name="historialClinico"  required id="" cols="30" rows="10" placeholder="Descripcion del motivo"></textarea>
    </label>
    <div class="reform">
      <label for="email">Email: 
        <input type="email" placeholder="Email" class="input" required name="email" id="email">
        <input type="email" placeholder="Confirmar Email" class="input" required name="email_con" id="email-con">
      </label>
      
      <label for="contraseña">Contraseña: 
        <input type="password" placeholder="Contraseña" class="input" required name="contraseña" id="contraseña">
        <input type="password" placeholder="Confirmar Contraseña" class="input" required name="contraseña_con" id="contraseña-con">
      </label>
    </div>
    <input type="submit" class="submit" value="Guardar">
  </form>
</body>
</html>