<%- include('template/header.ejs', {titulo: "404", css: ''}) %> 

<h1>Error 404</h1>
<h3>(Not found)</h3>
<p>The requested URL <%= url %> was not found on this server.</p>

<%- include('template/footer.ejs', {script : ''}) %>