<%- include('template/header', {titulo : 'index', css : ''}); %>

  <h1>Bienvenido/a</h1>
  <h2>¿Qué desea hacer?</h2>
  <a href="/login">Logearse</a>
  <a href="/register">Registrarse</a>

<%- include('template/footer', {script : ''}); %> 