<%- include('template/header', {titulo : 'DB System', css : '/index/index.css'}); %>
<header>
  <nav class="header">
    <div class="nav-left">
      <h1>DSYSTEM</h1>
      <div class="links">
        <a href="#">Beginnig</a>
        <a href="#">services</a>
        <a href="#">about</a>
      </div>
    </div>
    <div class="actions">
      <a href="/login" id="si">Sign In</a>
      <a href="/register" id="su">Sign Up</a>
    </div>
  </nav>
</header>
<main class="content">
  <section class="description">
    <p>
      DSYSTEM IS A WEBPAGE THAT ALLOWS YOU TO QUICKLY AND EFFICIENTLY MANAGE THE
      MEDICAL RECORDS OF PATIENTS IN A HEALTH COMPANY
    </p>
    <div class="about">
      <a id="ab" href="#">About</a>
    </div>
  </section>
  <aside>
    <img
      src="/index/Logo.png"
      class="imagen"
      alt="logo de la paguna de Dsystem"
    />
  </aside>
</main>

<%- include('template/footer', {script : ''}); %>
