<%- include('template/header', {titulo : 'Login', css : '/login/login.css'}); %>

  <div class="formulario">
    <header id="cabecera">
            <h1 id="titulo" >Login</h1>
    </header>
    <form name="login" method="post" action="/login" class="form">

        <!-- username -->
        <label for="documento_id">Documento de identidad</label>
        <input id="Usuario_login" class="input" type="text" name="documento_id" placeholder="Ingrese su documento de identidad " required>
        
        <!-- password -->
        <label for="Contraseña">password</label>
        <input id="Contraseña_login" class="input" type="password" name="Contraseña" placeholder="Ingrese su Contraseña" required>

        <!-- ingreso-->
        <input type="submit" id="submit" value="Ingresar" class="submit" >
        <div id="error"><%= error %></div>
        <div id="mensaje"><%= mensaje %></div>
        <a href="#" class="link"> Olvidaste tu Contraseña?</a>

        <a href="/register" class="link"> No tienes una cuenta?</a>
    </form>
  </div>
  
  
  <% if (error == '' && mensaje == '') { %>
    <script>
      document.getElementById("error").style.visibility = "hidden";
      document.getElementById("mensaje").style.visibility = "hidden";
    </script>
  <% } %>
  <% if (error != '') { %>
    <script>
      document.getElementById("error").style.visibility = "visible";
      document.getElementById("mensaje").style.visibility = "hidden";
    </script>
  <% } %>
  <% if (mensaje != '') { %>
    <script>
      document.getElementById("error").style.visibility = "hidden";
      document.getElementById("mensaje").style.visibility = "visible";
    </script>
  <% } %>

<%- include('template/footer', {script : '/login/login_sc.js'}) %>