<%- include('template/header', {titulo : 'Login', css : '/login/login.css'}); %>

<header>
  <nav class="header">
    <h1>DSYSTEM</h1>
    <div class="links">
      <a href="#">Beginnig</a>
      <a href="#">services</a>
      <a href="#">about</a>
    </div>
    <div class="actions">
      <a href="/login">Sing In</a>
      <a href="/register" id="su">Sing Up</a>
    </div>
  </nav>
</header>
<main>
  <div class="formulario">
    <div class="titulo"><h2>SING IN</h2></div>
    <form name="login" method="post" action="/login" class="form">
      <!-- username -->
      <label for="documento_id">Documento de identidad</label>
      <input
        id="Usuario_login"
        class="input"
        type="text"
        name="documento_id"
        placeholder="Ingrese su documento de identidad "
        required
      />

      <!-- password -->
      <label for="Contraseña">Contraseña</label>
      <input
        id="Contraseña_login"
        class="input"
        type="password"
        name="Contraseña"
        placeholder="Ingrese su Contraseña"
        required
      />

      <!-- ingreso-->
      <input type="submit" id="submit" value="Ingresar" class="submit" />
      <div id="error"><%= error %></div>
      <div id="mensaje"><%= mensaje %></div>
      <a href="/recovery" class="link"> Olvidaste tu Contraseña?</a>

      <a href="/register" class="link"> No tienes una cuenta?</a>
    </form>
  </div>
  <img src="/dashboard/logo_blanco.png" alt="" />
</main>

<% if (error == '' && mensaje == '') { %>
<script>
  document.getElementById("error").style.visibility = "hidden";
  document.getElementById("mensaje").style.visibility = "hidden";
</script>
<% } %> <% if (error != '' && mensaje == '') { %>
<script>
  document.getElementById("error").style.visibility = "visible";
  document.getElementById("mensaje").style.visibility = "hidden";
</script>
<% } %> <% if (mensaje != '' && error == '') { %>
<script>
  document.getElementById("error").style.visibility = "hidden";
  document.getElementById("mensaje").style.visibility = "visible";
</script>
<% } %> <% if (mensaje != '' && error != '') { %>
<script>
  document.getElementById("error").style.visibility = "visible";
  document.getElementById("mensaje").style.visibility = "visible";
</script>
<% } %> <%- include('template/footer', {script : '/login/login_sc.js'}) %>
