<%- include('template/header', {titulo : 'Login', css : '/login/login.css'}); %>

  <div class="formulario">
    <header id="cabecera">
            <h1 id="titulo" >Login</h1>
    </header>
    <form name="login" method="post" action="/login" class="form">

        <!-- username -->
        <label for="documento_id">Documento de identidad</label>
        <input id="Usuario_login" class="input" type="text" name="documento_id" placeholder="Ingrese su documento de identidad " required>
        
        <!-- password -->
        <label for="Contraseña">password</label>
        <input id="Contraseña_login" class="input" type="password" name="Contraseña" placeholder="Ingrese su Contraseña" required>

        <!-- ingreso-->
        <input type="submit" value="Ingresar" class="submit" >
        
        <a href="#" class="link"> Olvidaste tu Contraseña?</a>

        <a href="/registro" class="link"> No tienes una cuenta?</a>
    </form>
  </div>
  <% if (error) { %>
    <div class="error">
      <p><%= error %> </p>
    </div>
  <% } %>
  <% if (mensaje) { %>
    <div class="mensaje">
      <p><%= mensaje %> </p>
    </div>
  <% } %>


<%- include('template/footer', {script : '/login/login_sc'}) %>