<%- include('template/header', {titulo : 'Recupeara tu contraseña', css : '/recovery/recovery.css'}); %>

<div class="formulario">
    <h2 id="cabecera">Recupera tu contraseña</h2>
    <form name="recovery" method="post" action="/recovery" class="form" id="recovery-form">
        <label for="documento_id">Documento de identidad</label>
        <input class='input' id="Usuario_login" class="input" type="text" name="documento_id" placeholder="Ingrese su documento de identidad " required>
        <label for="Contraseña">Contraseña</label>
        <input class='input' id="Contraseña_login" class="input" type="password" name="Contraseña" placeholder="Ingrese su Contraseña" required>
        <label for="contraseña_con"c>Confirma la contraseña</label>
        <input class='input' id="contraseña_con" class="input" type="password" name="contraseña-con" placeholder="Confirme su Contraseña" required>
        <input type="submit" id="submit" value="Enviar" class="submit" >
        <a href="/login" class="link">Volver al Login</a>
        <div id="error"> <%= error %>  </div>
    </form>
</div>

<% if (error == '') { %>
    <script>
        document.getElementById("error").style.visibility = "hidden";
    </script>
<% } else { %>
    <script>
        document.getElementById("error").style.visibility = "visible";
    </script>
<% } %>

<%- include('template/footer', {script : '/recovery/recovery.js'}) %>