@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: black;
    color: white;
}

a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.nav-left{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 50%;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagen {
    border-radius: 50%;
}

.content .description p {
    font-size: 1.8rem;
    font-weight: 800;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

.header .nav-left h1 {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 2.25rem;
}

.header .nav-left a{
    font-size: 1.25rem;
    transition: 0.1s;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links a:hover{
    border-bottom: 2px solid white;
}

.content {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    width: 100%;
}


a {
    font-size: 1.7rem;
}


#su {
    background-color: white;
    color: black;
    text-align: center;
    padding: 4px 4px 4px 4px;
    border-radius: 8px;
    transition: 0.25s;
    font-weight: 700;
    font-size: 1.25rem;
}

#su:hover{
    font-size: 1.75rem;
    color: white;
    background-color: black;
}

#si{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    transition: 0.25s;
    font-weight: 700;
    font-size: 1.25em;
}

#si:hover{
    font-size: 1.75rem;
    color: black;
    background-color: white;
}

#ab {
    border-radius: 30px;
    font-weight: 700;
    background-color: white;
    color: black;
    padding: 4px 4px 4px 4px;
    text-align: center;
}

.description {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (orientation: portrait){
    .links {
        display: none;
    }

    .actions {
        width: 50vw;
    }

    #su {
        width: 20vw;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .imagen {
        width: 98vw;
        height: 40vh;
    }

    .content .description p {
        width: 95vw;
        text-align: justify;
        padding: 3%;
    }

    .about {
        width: 93vw;
        display: flex;
        justify-content: center;
    }

    #ab {
        width: 30vw;
    }
}
