@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

body {
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3%;
}

h1 {
  font-weight: 800;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

header {
  margin-bottom: 6%;
}

.links {
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.actions {
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#su {
  background-color: white;
  width: 15vw;
  height: 4vh;
  text-align: center;
  border-radius: 15px;
  color: black;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.titulo {
  width: 100%;
}

h2 {
  width: 100%;
  text-align: center;
  color: black;
}

.formulario {
  margin-left: 10%;
  background-color: white;
  width: 23vw;
  height: 60vh;
  border-radius: 30px;
}

img {
  width: 45vw;
  height: 60vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2rem;
  margin-bottom: 5%;
}

input {
  width: 80%;
  margin-bottom: 5%;
  height: 4vh;
  border: 3px solid rgba(145, 144, 144, 0.918);
  color: rgb(117, 113, 113);
}

#submit {
  height: 5vh;
  width: 40%;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 900;
  color: black;
  border: 3px solid black;
}

#submit:hover {
  animation: back 1s linear;
  background-color: black;
  color: white;
}

@keyframes back {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: black;
    color: white;
  }
}

.link {
  color: black;
}

@media screen and (orientation: portrait) {
  
  .links {
    display: none;
  }
  body {
    margin: 0;
    padding: 0;
  }
  nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
  }
  img {
    width: 90vw;
    height: 30vh;
  }
  .formulario {
    width: 70vw;
    margin-left: 0;
  }
  #su {
    width: 30vw;
  } 
}