<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="formulario">
    <div class="Registro">
      <h3>Registro de Usuario</h3>
  </div>
  <form action="" class="form" method="get" name="Formulario">
    <label for="Usuario">Tipo de usuario</label>
    <select name="Usuario" id="elusuario" class="select" required>
      <option value="">Seleccione</option>
      <option value="Paciente">Paciente</option>
      <option value="Empleado">Empleado</option>
    </select>
    <label for="Tipo_documento">Tipo de documento:</label>
    <select name="Tipo_documento" id="tipo_docu" class="select" required>
      <option value="">Seleccione</option>
      <option value="C.C">C.C</option>
      <option value="Carnet diplomatico">Carnet diplomatico</option>
      <option value="Certificado nacido vivo">Certificado nacido vivo</option>
      <option value="Cedula de extranjeria">Cedula de extranjeria</option>
      <option value="Nit">Nit</option>
      <option value="Pasaporte">Pasaporte</option>
      <option value="Permiso especial de permanencia">Permiso especial de permanencia</option>
      <option value="Permiso de proteccion personal">Permiso de proteccion personal</option>
      <option value="Registro civil">Registro civil</option>
      <option value="Salvoconducto">Salvoconducto</option>
      <option value="Tarjeta de identidad">Tarjeta de identidad</option>
    </select>
    <label for="documento">Documento de identidad:</label>
    <input type="number" placeholder="Numero de documento de identidad" required maxlength="20" value="Documento" id="documento">
    <label for="nombre">Nombre:</label>
    <input type="text" maxlength="45" required placeholder="Nombre..." id="nombre">
    <label for="apellidos">Apellidos:</label>
    <input type="text" name="Apellidos" required id="" placeholder="Apellidos..." id="apellidos">
    <label for="edad">Edad:</label>
    <input type="number" minlength="1" maxlength="3" required placeholder="Edad" id="edad">
    <label for="Genero">Genero:</label>
    <select name="Genero" id="elgenero" name="Genero" placeholder="Genero" class="select" required> 
      <option value="">Seleccione</option>
      <option value="Hombre">Hombre</option>
      <option value="Mujer">Mujer</option>
      <option value="Otros">Otros</option>
    </select>
    <label for="email">Email:</label>
    <input type="email" required placeholder="Email"  id="email">
    <label for="con_email">Confirmar email:</label>
    <input type="text" required placeholder="Confirmar" id="con_email">
    <label for="contraseña">Contraseña</label>
    <input type="password" required id="contraseña">
    <label for="con_contraseña">Confirmar contraseña</label>
    <input type="password" required id="con_contraseña">
    <input type="submit" id="submit" class="enviar">
  </form>
</div>
<script src="index.js"></script>
</body>
</html>